@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* ------Header----------*/

.header-container-bg{
  background-color: #871c86;
  position: absolute;
  top: 0;
  height: 80px;
  width: 50%;
  z-index: 0;
}

.header-container{
  height: 180px;
  width: 100%;
  background-color:#871c86;
  transform:skew(0deg,-6deg);
  z-index: 10;
}

.header-web{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color:#871c86;
  text-align: center;
  width: 100%;
  height: 110px; 
  z-index: 80;
}

@media (max-width: 900px) {
  .header-web{
    display: none;
  }
}

nav{
  display: flex;
  justify-content:center;
}

.logo{
  width: 130px;
}

.header-container-links{
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container-links > a {
  text-decoration: none;
  font-size: 1rem;
  color: #ede9ee;
  font-family: 'Poppins';
  letter-spacing: 9px;
  padding: 1rem;
}

.header-container-links > a:hover{
  color: #f2cb4b;
}

.container-menu-btn{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
}

#btn-menu{
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 1rem;
  color: #ede9ee;
  cursor: pointer;
}

#btn-menu:hover{
  color: #f2cb4b;
}


/*---MOBILE---*/

.menu-mobile{
  background-color:#871c86;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in;
}

.menu-mobile-active{
  top: 0;
}

.nav-mobile{
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -100vh;
  left: 0;
  right: 0;
  transition: bottom  0.5s ease-in-out;
  transition-delay: 0.2s;
  z-index: -3000;
}

.nav-mobile-active{
  bottom: 50%;
  z-index: 300;
}

.nav-mobile > a{
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #ede9ee;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 9px;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}


.nav-mobile > a:hover{
  color: #f2cb4b;
}

.logo-mobile{
  transform:skew(0deg,6deg);
  display: none;
}

@media (max-height: 666px) {

  .nav-mobile-active{
    bottom: 20%;
  }

  .nav-mobile > a{
    font-size: 1.6rem;
  }
  
}

@media (max-width: 900px) {
  .logo-mobile{
    display: flex;
  }
}
/*--------MAIN--------*/

.container-all{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -40;
  margin-top: 0px;
  background-color: #ede9ee;
  min-height: 100vh;
}


/*----Text-----*/

.title{
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 1.3rem;
  line-height : 2rem;
  letter-spacing: 7px;
}

@media (max-width: 320px) {
  .title{
    font-size: 1rem;
  }
}

p{
  line-height : 2rem;
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: #393838;
  text-align: justify;
  text-align-last: center;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: inherit;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
  margin-top: 0.2rem;
}


/*--- BG IMAGE----*/

.img-br{
  width: 100%;
}


.bg-img{ 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 900px) {
  .bg-img{
    background-size: contain;
  }
}

/*-----Elements-------*/

.first-container{
  margin-top: 180px;
  min-height: 100vh;
}

.first-container-img{
  margin-top: 0px;
  height: 400px;
}

.middle-container{
  min-height: 100vh;
}

.container{
  margin: auto;
  width: 500px;
  text-align: center;
  color: #6d1872;
  margin-top: 60px;
}

@media (max-width: 320px) {
  .container{
    width: 240px;
  }
}

@media (max-width: 600px) {
   .container{
     max-width: 300px;
   }

   .middle-container-img{
    min-height: 50vh;
   }
}

.skew{
  transform:skew(0deg,-9deg);
}

.bg-color-primary{
  background-color: #871c86; 
}

/*------Card--------*/

.container-cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 300px;
  max-width: 400px;
  background-color: #f2cb4b;
}

.card > img{
  height: inherit;
  width: inherit;
}

/*------------------------Blog----------------------------*/
.container-blog{
  margin: auto;
  text-align: center;
  color: #6d1872; 
}

.container-blog-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-card{
  max-width: 350px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.blog-card:hover{
  box-shadow: 0 3px 10px grey;
}

.blog-card > a > .title{
  padding-bottom: 0;
  font-size: 1rem;
}

.blog-card > p{
  text-align: justify;
}

.container-blog-img{
  width: 100%;
  height: 200px;
}

.container-blog-img > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.a-btn{
  font-size: 1.2rem;
  font-style: oblique;
  transition: all 0.3s ease-in-out;
}

a.a-btn:hover{
  letter-spacing: 4px;
}

.d-none{
  display: none;
}

/*------------------Staff------------------------------------*/

.section-banner-card-2{
  width: 250px;
  padding: 2rem;
}

.section-banner-card-2 > img{
  width: 100%;
}

.section-banner-card-2 > h3{
  font-size: 1rem;
  padding: 0;
  line-height: 1.2rem;
}

.section-banner-card-2 > p{
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* ---------Profesorados-------------*/

.container-list{
  line-height : 1.2rem;
  font-family: 'Poppins';
  font-size: 0.9rem;
  color: #393838;
  
}

.container-list > h3{
  margin: 0;
  padding-bottom: 0;
  color: #6d1872; 
  border-radius: 20px;
}

.container-list >ul {
  text-align: left;
}

/* ----------------- Form ------------------*/

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"],
select{
  height: 6rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #6d1872;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
}

input[type="submit"]{
  height: 2rem;
  border-radius: 6px;
  border: 2px solid #6d1872;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  width: 200px;
  color: #6d1872;
  margin-top: 2rem;
  transition: all 0.2s ease-in;
}

input[type="submit"]:hover{
  background: #6d1872;
  color: #ede9ee;
}


input:focus{
  outline: 0;
  color: #6d1872;
}

input[type="checkbox"]{
  width: 20px;
  margin-right: 2rem;
}

textarea{
  height: 6rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #6d1872;
  font-family: "Poppins";
  font-size: 0.9rem;
  display: flex;
  resize: none;
  color: #6d1872;
  padding: 0.2rem;
  margin-bottom: 2rem;
}

.link-send-wa{
  font-size: 1.2rem;
  border: 2px solid #6d1872;
  padding: 0.4rem;
  border-radius: 6px;
}

/*-------------Details------------*/
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem ;
  width: 100%;
  margin-bottom: .5em;
  text-align-last: left;
}

summary {
  padding: 0.5rem;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  line-height : 1.7rem;
  letter-spacing: 3px;
  text-align: justify;
  text-align-last: left;
  cursor: pointer;
}

details[open] {
  padding:0.5rem;
  text-align: justify;
  text-align-last: left;  
}

details[open] summary {
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
  line-height : 1.7rem;
  text-align: justify;
}

summary::marker {
  font-size: 2rem;
  content: "";
}

details > p > ul{
  line-height: 1.4rem;
}

.subtitle{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 1.3rem;
  line-height : 1rem;
  letter-spacing: 5px;
  color: #6d1872;
}

@media (max-width: 570px) {

  details{
    width: 90%;
  }

  details[open] {
    text-align: left;
  }

  summary {
    font-size: 0.8rem;
    line-height : 1rem;
    text-align: left;
  }
  details[open] summary {
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
    line-height : 1rem;
    text-align: left;
  }

}


/*--- Details Testimonios----*/

.container-testimonios2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-testimonios{
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem ;
  width: 100%;
  margin: .5em;
  text-align-last: left;
  max-width: 400px;
}

.summary-testimonios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary-testimonios > img{
  padding: 10px;
  max-width: 100px;
}

.summary-testimonios > p {
  font-size: 0.8rem;
  letter-spacing: normal;
  text-transform: none;
  line-height : 1rem;
  text-align: center;
}

.summary-testimonios > i {
  color: #871c86;
}

.details-testimonios > p {
  font-size: 0.8rem;
  letter-spacing: normal;
  line-height: 1.2rem;
  text-align: justify;
}

/*----Curso de ingreso-----*/
#instancias-examen > p{
  text-align-last: left;
  margin-top: 0;
}
#instancias-examen > h3{
  margin-bottom: 0;
  text-align: left;
}

/*----Cv-----*/

.perfil-cv{
  max-width: 200px;
}


/*-------------------------Footer-----------------------------*/

footer{
  background-color: #871c86; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 600px;
  margin-top: 2rem;
  align-items: flex-start;
  padding-top: 100px;
 }
 
 
 .footer-column{
   color: #f2cb4b;
   justify-items: left;
   padding: 10px;
   width: 250px;
   
 }
 
 .footer-column > p{
   color: #ede9ee;
   letter-spacing: 1px;
   text-align-last: left;
 }
 
 .container-social-media{
   font-size: 2.2rem;
 }
 
 .container-social-media > a{
   color: #ede9ee;
   padding-right: 1rem;
   cursor: pointer;
 }
 
 .container-social-media > a:hover{
   color: #f2cb4b;
 }

 @media (max-width: 320px) {
  .footer-column{
    width: 240px;
  }
  .m{
    font-size: 0.7rem;
  }
}

/*-----------------Certificaciones Id--------------------------*/

.icon{
  padding-left: 0.5rem;
  font-size: 2rem;
}

.btn-icon{
  border: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
}

/*-----------------Effect Reveal--------------------------*/

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

/*-----------------Portada Inicio--------------------------*/
.corazon-gif{
  width: 100%;
}
